@using WApp.ViewModels
@model DashboardViewModel

<div class="row" style="padding-bottom: 20px;">
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4 pb-3">
        <div class="card">
            <div class="card-body p-3">
                <div class="row mb-3">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">Registred K-II</p>
                            <h5 class="font-weight-bolder mb-0">
                                @Model.TotalK2.ToString("N0") Data(s)
                                <span class="text-success text-sm font-weight-bolder">(Aktif: @Model.TotalK2Aktif.ToString("N0"))</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                            <i class="fa fa-user text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <hr b-f9qln7o7lm="" class="horizontal dark my-sm-1">
                <div class="row">
                    <div>
                        <div class="d-flex flex-column h-100" style="text-align: center;">
                            <a asp-action="K2" asp-controller="Pegawai" class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto">
                                K-II Details
                                <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Pendidikan</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.K2Pendidikan.OrderByDescending(m => m.Text))
                            {

                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">@item.Text</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-xs font-weight-bold"> @item.Total </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @foreach (var item in Model.K2JenisKelamin.OrderByDescending(m => m.Text))
    {
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">@item.Text</p>
                                <h5 class="font-weight-bolder mb-0">
                                    @item.Total
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }    
</div>
<div class="row">
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row mb-3">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">Registred PHL</p>
                            <h5 class="font-weight-bolder mb-0">
                                @Model.TotalPHL.ToString("N0") Data(s)
                                <span class="text-success text-sm font-weight-bolder">(Aktif: @Model.TotalPHLAktif.ToString("N0"))</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                            <i class="fa fa-user text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <hr b-f9qln7o7lm="" class="horizontal dark my-sm-1">
                <div class="row">
                    <div>
                        <div class="d-flex flex-column h-100" style="text-align: center;">
                            <a asp-action="PHL" asp-controller="Pegawai" class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto">
                                PHL Details
                                <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @foreach (var item in Model.PHLJenisKelamin.OrderByDescending(m => m.Text))
    {
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">@item.Text</p>
                                <h5 class="font-weight-bolder mb-0">
                                    @item.Total
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row mt-4">
    <div class="col-lg-12 mb-lg-0 mb-4">
        <div class="card">
            <div class="card-body p-3 col-lg-12">
                <div class="row mb-3">
                    <div>
                        <label>NIK/No Registrasi</label>
                        <div>
                            <input id="nik" class="form-control" placeholder="NIK/No Registrasi" aria-label="NIK/No Registrasi" aria-describedby="email-addon">
                        </div>
                        <label>Nama</label>
                        <div>
                            <input id="noRegistrasi" class="form-control" placeholder="Nama" aria-label="Nama">
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-0" onClick="Search()"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex flex-column h-100">
                            <a asp-action="Search" asp-controller="Home" class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto">
                                Search More
                                <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*
<div class="page-content-wrap" style="padding-top: 10px">
    <div class="row">
        <div class="col-md-3">
            <div class="widget widget-default widget-item-icon" onclick="location.href='/Pegawai/K2';">
                <div class="widget-item-left">
                    <span class="fa fa-user"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">@Model.TotalK2</div>
                    <div class="widget-title">Registred K-II</div>
                    <div class="widget-subtitle">Data Aktif (@Model.TotalK2Aktif)</div>
                </div>
                <div class="widget-controls">
                    <a asp-action="K2" asp-controller="Pegawai" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget widget-default widget-item-icon" onclick="location.href='/Pegawai/PHL';">
                <div class="widget-item-left">
                    <span class="fa fa-user"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">@Model.TotalPHL</div>
                    <div class="widget-title">Registred PHL</div>
                    <div class="widget-subtitle">Data Aktif (@Model.TotalPHLAktif)</div>
                </div>
                <div class="widget-controls">
                    <a asp-action="PHL" asp-controller="Pegawai" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="widget widget-info widget-padding-sm" style="padding-top: 25px">
                <div class="widget-big-int plugin-clock">00:00</div>
                <div class="widget-subtitle plugin-date">Loading...</div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Filter</strong></h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">NIK/No Registrasi</label>
                                    <div class="col-md-6">
                                        <input id="nik" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama</label>
                                    <div class="col-md-6">
                                        <input id="noRegistrasi" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Type Karyawan</label>
                                    <div class="col-md-6 col-xs-12">
                                        <select id="type" class="form-control select" data-live-search="true">
                                            <option value="0">K-II</option>
                                            <option value="1">PHL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Status</label>
                                    <div class="col-md-6 col-xs-12">
                                        <select id="status" class="form-control select" data-live-search="true">
                                            <option value="1">Aktif</option>
                                            <option value="0">Tidak Aktif</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" id="clearForm" onClick="ClearForm()"><i class="fa fa-refresh"></i>Clear Form</button>
                        <button class="btn btn-primary" id="btnSearch" onClick="Search()"><i class="fa fa-search"></i>Search</button>
                        <a asp-action="Search" asp-controller="Home" class="btn btn-primary pull-right">Search Detail</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Detail Datas</h3>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="panel-body panel-body-table">
                    <div class="row" style="padding-top: 10px">
                        <div class="col-md-4">
                            <a asp-action="K2" asp-controller="Pegawai" class="tile tile-info">
                                <span style="font-size: 32px; line-height: 40px; font-weight: bold; font-family: arial;">@Model.TotalK2</span>
                                <p>Total Data K-II</p>
                                <div class="informer informer-warning"><span class="fa fa-caret-down"></span></div>
                                <div class="informer informer-default dir-tr">@DateTime.Now.ToString("dd MM yyyy")</div>
                            </a>
                        </div>
                        @foreach (var item in Model.K2JenisKelamin.OrderByDescending(m => m.Text))
                        {
                            <div class="col-md-4">
                                <div class="tile tile-default">
                                    <span style="font-size: 32px; line-height: 40px; font-weight: bold; font-family: arial;">@item.Total</span>
                                    <p>Data K-II @item.Text</p>
                                    <div class="informer informer-warning"><span class="fa fa-caret-down"></span></div>
                                    <div class="informer informer-default dir-tr">@DateTime.Now.ToString("dd MM yyyy")</div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a asp-action="PHL" asp-controller="Pegawai" class="tile tile-success">
                                <span style="font-size: 32px; line-height: 40px; font-weight: bold; font-family: arial;">@Model.TotalPHL</span>
                                <p>Total Data PHL</p>
                                <div class="informer informer-warning"><span class="fa fa-caret-down"></span></div>
                                <div class="informer informer-default dir-tr">@DateTime.Now.ToString("dd MM yyyy")</div>
                            </a>
                        </div>
                        @foreach (var item in Model.PHLJenisKelamin.OrderByDescending(m => m.Text))
                        {
                            <div class="col-md-4">
                                <div class="tile tile-default">
                                    <span style="font-size: 32px; line-height: 40px; font-weight: bold; font-family: arial;">@item.Total</span>
                                    <p>Data PHL @item.Text</p>
                                    <div class="informer informer-warning"><span class="fa fa-caret-down"></span></div>
                                    <div class="informer informer-default dir-tr">@DateTime.Now.ToString("dd MM yyyy")</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> *@

<script>
    function ClearForm() {
        $("#nik").val('');
        $("#noRegistrasi").val('');
    }

    function Search() {
        var url = '/Home/Search?name=' + encodeURIComponent($("#noRegistrasi").val()) + '&nik=' + encodeURIComponent($("#nik").val());
        window.location.href = url;
    }
</script>