@using WApp.ViewModels
@model DashboardViewModel

<div class="page-content-wrap" style="padding-top: 10px">
    <div class="row">
        <div class="col-md-3">
            <div class="widget widget-default widget-item-icon" onclick="location.href='/Pegawai/K2';">
                <div class="widget-item-left">
                    <span class="fa fa-user"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">@Model.TotalK2</div>
                    <div class="widget-title">Registred K-II</div>
                    <div class="widget-subtitle">Data Aktif (@Model.TotalK2Aktif)</div>
                </div>
                <div class="widget-controls">
                    <a asp-action="K2" asp-controller="Pegawai" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget widget-default widget-item-icon" onclick="location.href='/Pegawai/PHL';">
                <div class="widget-item-left">
                    <span class="fa fa-user"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">@Model.TotalPHL</div>
                    <div class="widget-title">Registred PHL</div>
                    <div class="widget-subtitle">Data Aktif (@Model.TotalPHLAktif)</div>
                </div>
                <div class="widget-controls">
                    <a asp-action="PHL" asp-controller="Pegawai" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">

            <!-- START WIDGET CLOCK -->
            <div class="widget widget-info widget-padding-sm" style="padding-top: 25px">
                <div class="widget-big-int plugin-clock">00:00</div>
                <div class="widget-subtitle plugin-date">Loading...</div>
            </div>
            <!-- END WIDGET CLOCK -->

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Filter</strong></h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">NIK</label>
                                    <div class="col-md-6">
                                        <input id="nik" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Registrasi</label>
                                    <div class="col-md-6">
                                        <input id="noRegistrasi" type="text" class="form-control" />
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Type Karyawan</label>
                                    <div class="col-md-6 col-xs-12">
                                        <select class="form-control select" data-live-search="true">
                                            <option value="0">K-II</option>
                                            <option value="1">PHL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Status</label>
                                    <div class="col-md-6 col-xs-12">
                                        <select class="form-control select" data-live-search="true">
                                            <option value="1">Aktif</option>
                                            <option value="0">Tidak Aktif</option>
                                        </select>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" id="clearForm"><i class="fa fa-refresh"></i>Clear Form</button>
                        <button class="btn btn-primary"><i class="fa fa-search"></i>Search</button>
                        <a asp-action="Search" asp-controller="Home" class="btn btn-primary pull-right">Search Detail</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- START PROJECTS BLOCK -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Detail Datas</h3>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="panel-body panel-body-table">                    
                    <div class="row" style="padding-top: 10px">
                        <div class="col-md-4" >
                            <a asp-action="K2" asp-controller="Pegawai" class="tile tile-info">
                                <span style="font-size: 32px; line-height: 40px; font-weight: bold; font-family: arial;">@Model.TotalK2</span>
                                <p>Total Data K-II</p>
                                <div class="informer informer-warning"><span class="fa fa-caret-down"></span></div>
                                <div class="informer informer-default dir-tr">@DateTime.Now.ToString("dd MM yyyy")</div>
                            </a>
                        </div>
                        @foreach (var item in Model.K2JenisKelamin.OrderByDescending(m => m.Text))
                        {
                            <div class="col-md-4">
                                <div class="tile tile-default">
                                    <span style="font-size: 32px; line-height: 40px; font-weight: bold; font-family: arial;">@item.Total</span>
                                    <p>Data K-II @item.Text</p>
                                    <div class="informer informer-warning"><span class="fa fa-caret-down"></span></div>
                                    <div class="informer informer-default dir-tr">@DateTime.Now.ToString("dd MM yyyy")</div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a asp-action="PHL" asp-controller="Pegawai" class="tile tile-success">
                                <span style="font-size: 32px; line-height: 40px; font-weight: bold; font-family: arial;">@Model.TotalPHL</span>
                                <p>Total Data PHL</p>
                                <div class="informer informer-warning"><span class="fa fa-caret-down"></span></div>
                                <div class="informer informer-default dir-tr">@DateTime.Now.ToString("dd MM yyyy")</div>
                            </a>
                        </div>
                        @foreach (var item in Model.PHLJenisKelamin.OrderByDescending(m => m.Text))
                        {
                            <div class="col-md-4">
                                <div class="tile tile-default">
                                    <span style="font-size: 32px; line-height: 40px; font-weight: bold; font-family: arial;">@item.Total</span>
                                    <p>Data PHL @item.Text</p>
                                    <div class="informer informer-warning"><span class="fa fa-caret-down"></span></div>
                                    <div class="informer informer-default dir-tr">@DateTime.Now.ToString("dd MM yyyy")</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- END PROJECTS BLOCK -->

        </div>
    </div>
    @* <div class="row">
        <div class="col-md-12">
            <!-- START PROJECTS BLOCK -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>K-II</h3>
                        <span>K-II details</span>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a asp-action="K2" asp-controller="Pegawai" class="panel-refresh"><span class="fa fa-plus"></span></a></li>
                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="panel-body panel-body-table">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="80%">Detail</th>
                                    <th width="10%">Total Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Total Data Aktif</strong></td>
                                    <td><span class="label label-warning">@Model.TotalK2Aktif</span></td>
                                </tr>
                                @foreach (var item in Model.K2JenisKelamin.OrderByDescending(m => m.Text))
                                {
                                    <tr>
                                        <td><strong>@item.Text</strong></td>
                                        <td><span class="label label-warning">@item.Total</span></td>
                                    </tr>
                                }
                                @foreach (var item in Model.K2Pendidikan.OrderBy(m => m.Text))
                                {
                                    <tr>
                                        <td><strong>@item.Text</strong></td>
                                        <td><span class="label label-warning">@item.Total</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!-- END PROJECTS BLOCK -->

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- START PROJECTS BLOCK -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>PHL</h3>
                        <span>PHL details</span>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a asp-action="PHL" asp-controller="Pegawai" class="panel-refresh"><span class="fa fa-plus"></span></a></li>
                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="panel-body panel-body-table">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="80%">Detail</th>
                                    <th width="10%">Total Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Total Data Aktif</strong></td>
                                    <td><span class="label label-warning">@Model.TotalPHLAktif</span></td>
                                </tr>
                                @foreach (var item in Model.PHLJenisKelamin.OrderByDescending(m => m.Text))
                                {
                                    <tr>
                                        <td><strong>@item.Text</strong></td>
                                        <td><span class="label label-warning">@item.Total</span></td>
                                    </tr>
                                }
                                @foreach (var item in Model.PHLPendidikan.OrderBy(m => m.Text))
                                {
                                    <tr>
                                        <td><strong>@item.Text</strong></td>
                                        <td><span class="label label-warning">@item.Total</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!-- END PROJECTS BLOCK -->

        </div>
    </div> *@
</div>
