@using WApp.ViewModels
@model List<BreadcrumbItemViewModel>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="/">Home</a></li>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                var activeClass = item.IsActive ? "Active" : "";
                if (item.IsActive)
                {
                    <li class="breadcrumb-item text-sm text-dark @activeClass" aria-current="page">@item.Title</li>
                }
                else
                {
                    <li class="breadcrumb-item text-sm text-dark @activeClass" aria-current="page"><a class="opacity-5 text-dark" href="@item.Url">@item.Title</a></li>
                }

            }

        }
    </ol>
</nav>